.individuals a {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ddd;
  color: #666;
  text-align: center;
  line-height: 200px;
}

.individuals a img {
  position: relative;
  max-width: 100%;
  max-height: : 100%;
  margin-top: auto;
  top: 50%;
  transform: translate(0, -50%);
}

a:hover {
  color: #ff4c00;
  background-color: #eee;
  background-position: top;
  width: 210px;
  margin: 5px;
  height: 210px;
}